env:
  global:
    - CC_TEST_REPORTER_ID: 48324b7ea4eae0b62d711db31093f793ddfa5d4e4a424bc17a66d94fb771b35f
    
language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script: npm test
before_script:
  - npm install
  - psql -c "create database test" -U postgres
  - npm install -g codeclimate-test-reporter
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - psql -c "drop database test" -U postgres
services:
  - postgresql
after_success: 
  - codeclimate-test-reporter < coverage/lcov.info
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - npm run coverage