body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

label {
  color: #fff;
  font-weight: bold;
  display: block;
  float: left;
}

.landing-background {
  background: url("/dist/banner.jpeg") !important;
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 700px;
  overflow: hidden;
}

.banner-background {
  background: url("/dist/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 1000px;
  overflow: hidden;
}

.login-background {
  background: url("/dist/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 850px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.reg-background {
  background: url("/dist/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 900px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-background {
  -moz-background-position: 50%;
  background-color: #e6e6e6;
  -webkit-background-position: 50%;
  background-position: 50%;
  overflow: hidden;
  margin: 30px auto;
}

.nav-link i {
  margin-right: 30px;
}

.profile-background {
  -moz-background-position: 50%;
  background-color: #e6e6e6;
  -webkit-background-position: 50%;
  background-position: 50%;
  overflow: hidden;
  margin: 40px auto;
  padding: auto 0px;
  margin-top: 50px;
}

.profile-background>.container {
  width: 100%;
  padding: auto 0px;
  margin: auto 0px;
}

.profile-background>.container>.navbar {
  background-color: #e6e6e6;
  margin-top: 30px;
}

.landing {
  position: relative;
  margin-top: 120px;
}

@media(max-width: 767px) {
  .landing {
    text-align: center;
  }
}

.headline {
  color: #fff;
}

.headline h1 {
  font-weight: 700;
}

.headline a>button {
  min-width: 60%;
  margin-bottom: 30px;
}

.account {
  background-color: rgba(0, 0, 0, .70);
  padding: 40px 30px;
  border-radius: 3px;
  z-index: 0;
}

.account>div {
  display: block;
  margin: 30px auto;
}

.account div>a>button {
  min-width: 100%;
}

.account h3 {
  color: #fff;
  font-weight: 700;
}

.brief {
  display: block;
  font-size: 12px;
  margin: 10px auto 0 auto;
  color: #fff;
}

#top-recipes {
  margin-top: 60px;
  margin-bottom: 30px;
}

#top-recipes .heading {
  text-align: center;
  margin-bottom: 60px;
}

#login-checkbox {
  margin-right: 5px;
}

.account .login-buttons {
  margin: 20px auto;
}

.account .modal-footer button {
  min-width: 0%;
}

.recipe-top {
  position: relative;
  margin-top: 50px;
  box-sizing: border-box;
}

.title-area p {
  display: inline;
}

.title-area span {
  margin-left: 5px;
}

.recipe-background .recipe-button {
  text-align: center;
}

.recipe-button>button {
  min-width: 150px;
  margin-right: 10px;
}

.recipe-ingredients ul {
  float: left;
  margin: auto 0;
  padding: 0;
}

.recipe-ingredients li {
  list-style-type: none;
  margin-bottom: 10px;
}

.recipe-ingredients li i {
  font-size: 10px;
  margin-right: 5px;
}

.recipe-review {
  margin-bottom: 50px;
}

.form-rounded {
  border-radius: 1rem;
  min-height: 250px;
}

.nav-link {
  color: #000;
}

a:hover {
  color: #020202;
}

.profile-landing {
  height: 100%;
}

.profile-background .div-profile {
  background-color: #F8F8FF;
  padding: 10px 10px 10px 10px;
}

.profile-background .div-section {
  background-color: #F8F8FF;
}

.profile-tabs .card-image-top {
  height: 1500px;
}

.profile-tabs .card-deck {
  margin: auto 10px;
}

.profile-tabs .card-deck span {
  margin-right: 5px;
}

.profile-tabs label {
  color: #000;
}

.profile-pagination {
  float: right;
  margin-bottom: 20px;
}

.profile-category-button>button {
  margin-bottom: 5px;
}

.profile-background .edit-profile-div-section {
  background-color: #F8F8FF;
  padding: 10px 10px 10px 10px;
}

.profile-background .add-padding {
  padding: 10px 15px;
}

.edit-profile-div-section label {
  color: #000
}

.edit-profile-button>button {
  min-width: 20%;
  margin-right: 10px;
  text-align: center;
}

.card-footer .text-muted>button {
  float: right;
}

.card-footer .text-muted>a {
  float: right;
}

.profile-menu {
  margin-right: 5px;
}

.profile-menu {
  margin: 5px 5px;
}

.rounded-circle {
  width: 50px;
  height: 50px;
}

#top-recipes .card-deck {
  margin: auto 20px;
}

#top-recipes .card-deck span {
  margin-right: 6px;
}

.landing a {
  text-decoration: none;
}

@media(min-width: 480px) {
  .recipe-background {
    margin: 30px 15%;
  }
  .profile-background {
    margin: 30px 15%;
  }
  .nav-link i {
    margin-right: 5px;
  }
  .profile-background .add-padding {
    margin: 10px 10px;
  }
}

.card-blocks {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.card-blocks .card {
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
  margin-right: 5px;
}

.card-blocks .card img {
  width: 200px;
  height: 200px;
}

.card-blocks .card-title {
  text-align: left;
  height: 60px;
}

.card-blocks .card-text {
  height: 200px;
  text-align: left;
}

.card-blocks .card-footer {
  text-align: left;
  padding: 0px;
  font-size: 15px;
  font-weight: 50%;
}

.card-blocks-home {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.card-blocks-home .card {
  display: inline-block;
  width: 300px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.card-blocks-home .card img {
  width: 300px;
  height: 300px;
}

.card-blocks-home .card-title {
  text-align: left;
  height: 60px;
}

.card-blocks-home .card-text {
  height: 200px;
  text-align: left;
}

.card-blocks-home .card-footer {
  text-align: left;
  padding: 0px;
  font-size: 18px;
  font-weight: 50%;
}

.arrow-key {
  font-size: 100px;
}

input.active:valid {
  box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
  background-color: #fff;
}

.panel-white .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.panel-white .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-heading .meta .title a {
  color: black;
}

.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}

.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;
}

.post .post-description p {
  font-size: 14px;
}

button.close {
  width: 50px;
}

.div-profile .editProfile-btn {
  margin-bottom: 5px;
  margin-right: 5px;
}

.invisible-button {
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  background: none;
}

.nav-item .invisible-button {
  margin-right: 15px;
}

.card .text-muted > .landing-card-footer{
  width: 100%;
  text-align: center !important;
}

.card .text-muted span{
  font-size: 20px;
  margin-right: 20px;
}