$color_1: #fff;
$color_2: #000;
$color_3: #020202;
$color_4: red;
$color_5: #333;
$color_6: black;
$color_7: #aaaaaa;
$color_8: #999;
$footer_text_color: black;
$font_family_1: "Open Sans", sans-serif;
$background_color_1: #e6e6e6;
$background_color_2: rgba(0, 0, 0, .70);
$background_color_3: #F8F8FF;
$background_color_4: #fff;
$footer_background_color: #f7f7f7;
$border_color_1: #ddd;
$primary-color: #5cb85c;

@import "~loaders.css/src/animations/ball-scale-ripple-multiple.scss";

body {
  overflow-x: hidden;
  font-family: $font_family_1;
}

h1 {
  font-family: $font_family_1;
}

h2 {
  font-family: $font_family_1;
}

h3 {
  font-family: $font_family_1;
}

h4 {
  font-family: $font_family_1;
}

h5 {
  font-family: $font_family_1;
}

h6 {
  font-family: $font_family_1;
}

label {
  color: $color_1;
  font-weight: bold;
  display: block;
  float: left;
}

.landing-background {
  background: url("/assets/images/banner.jpeg") !important;
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 700px;
  overflow: hidden;
  .headline-home {
    color: $color_1;
  }
  .account {
    display: block;
    justify-content: center;
    background-color: $background_color_2;
    padding-top: 50px;
    border-radius: 3px;
    z-index: 0;
    margin-bottom: 10px;
  }
}

.banner-background {
  background: url("/assets/images/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 90vh;
  overflow: hidden;
}

.login-background {
  background: url("/assets/images/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 94vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.reg-background {
  background: url("/assets/images/banner.jpeg");
  -moz-background-position: 50%;
  -webkit-background-position: 50%;
  background-position: 50%;
  min-height: 900px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-background {
  -moz-background-position: 50%;
  background-color: $background_color_1;
  -webkit-background-position: 50%;
  background-position: 50%;
  overflow: hidden;
  margin: 30px auto;
  .recipe-button {
    text-align: center;
    button {
      margin-right: 10px;
      min-width: 150px;
    }
  }
}

.nav-link {
  i {
    margin-right: 30px;
  }
  color: $color_2;
}

.profile-background {
  -moz-background-position: 50%;
  background-color: $background_color_1;
  -webkit-background-position: 50%;
  background-position: 50%;
  overflow: hidden;
  margin: 40px auto;
  padding: auto 0px;
  margin-top: 50px;
  >.container {
    width: 100%;
    padding: auto 0px;
    margin: auto 0px;
    min-height: 600px;
    >.navbar {
      background-color: $background_color_1;
      margin-top: 30px;
    }
  }

  .div-profile {
    background-color: $background_color_3;
    padding: 10px;
  }

  .div-section {
    background-color: $background_color_3;
  }

  .edit-profile-div-section {
    background-color: $background_color_3;
    padding: 10px;
  }

  .add-padding {
    padding: 10px 15px;
  }
}

.landing {
  position: relative;
  margin-top: 120px;
  a {
    text-decoration: none;
  }
}

.headline {
  background-color: $background_color_2;
  border-radius: 3px;
  z-index: 0;
  height: 250px;
  color: $color_1;
  padding-top: 30px;
  margin-bottom: 20px;
  h1, h2, h4 {
    font-weight: 700;
  }
  a {
    >button {
      min-width: 60%;
      margin-bottom: 30px;
    }
  }
}

.account {
  background-color: $background_color_2;
  padding: 5px 20px;
  border-radius: 3px;
  z-index: 0;
  margin-bottom: 10px;
  >div {
    display: block;
    margin: 30px auto;
  }
  div {
    >a {
      >button {
        min-width: 100%;
      }
    }
  }
  h3 {
    color: $color_1;
    font-weight: 700;
  }
  .login-buttons {
    margin: 20px auto;
  }
  .modal-footer {
    button {
      min-width: 0%;
    }
  }
}

.brief {
  display: block;
  font-size: 12px;
  margin: 10px auto 0 auto;
  color: $color_1;
}

#top-recipes {
  margin-top: 60px;
  margin-bottom: 30px;
  .heading {
    text-align: center;
    margin-bottom: 60px;
  }
  .card-deck {
    margin: auto 20px;
    span {
      margin-right: 6px;
    }
  }
}

#login-checkbox {
  margin-right: 5px;
}

.recipe-top {
  position: relative;
  margin-top: 50px;
  box-sizing: border-box;
}

.title-area {
  p {
    display: inline;
  }
  span {
    margin-left: 5px;
  }
}

.recipe-ingredients {
  ul {
    float: left;
    margin: auto 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 10px;
    i {
      font-size: 10px;
      margin-right: 5px;
    }
  }
}

.recipe-review {
  margin-bottom: 50px;
}

.form-rounded {
  border-radius: 1rem;
  min-height: 150px;
}

a {
  &:hover {
    color: $color_3;
  }
}

.profile-landing {
  height: 100%;
}

.profile-tabs {
  .card-image-top {
    height: 1500px;
  }
  .card-deck {
    margin: auto 10px;
    span {
      margin-right: 5px;
    }
  }
  label {
    color: $color_2;
  }
}

.profile-pagination {
  float: right;
  margin-bottom: 20px;
}

.profile-category-button {
  >button {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.edit-profile-div-section {
  label {
    color: $color_2;
  }
}

.edit-profile-button {
  >button {
    min-width: 20%;
    margin-right: 10px;
    text-align: center;
  }
}

.card-footer {
  .text-muted {
    >button {
      float: right;
    }
    >a {
      float: right;
    }
  }
}

.profile-menu {
  margin-right: 5px;
  margin: 5px 5px;
}

.rounded-circle {
  width: 50px;
  height: 50px;
}

.card-blocks {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  .card {
    display: inline-block;
    width: 200px;
    margin-bottom: 15px;
    margin-right: 5px;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .card-title {
    text-align: left;
    height: 60px;
  }

  .card-text {
    text-align: left;
    max-width: 200px;
    height: 120px
  }
  .card-footer {
    text-align: left;
    padding: 0px;
    font-size: 15px;
    font-weight: 50%;
  }
}

.card-blocks-home {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  .card {
    display: inline-block;
    width: 300px;
    margin-bottom: 15px;
    margin-right: 10px;
    img {
      width: 300px;
      height: 300px;
    }
  }
  .card-title {
    text-align: left;
    height: 60px;
  }
  .card-text {
    height: 200px;
    text-align: left;
  }
  .card-footer {
    text-align: left;
    padding: 0px;
    font-size: 18px;
    font-weight: 50%;
  }
}

.arrow-key {
  font-size: 100px;
}

input.active {
  &:valid {
    box-shadow: 0 0 5px 1px green;
  }
  &:invalid {
    box-shadow: 0 0 5px 1px red;
  }
}

.error {
  color: $color_4;
  font-size: 12px;
  margin-top: 5px;
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #928888;
  background-color: $background_color_4;
  .panel-heading {
    color: $color_5;
    background-color: $background_color_4;
    border-color: $border_color_1;
  }
  .panel-footer {
    background-color: $background_color_4;
    border-color: $border_color_1;
  }
}

.post {
  .post-heading {
    height: 70px;
    padding: 20px 15px;
    .meta {
      .title {
        margin-bottom: 0;
        a {
          color: $color_6;
          &:hover {
            color: $color_7;
          }
        }
      }
      .date {
        margin-top: 8px;
        color: $color_8;
      }
    }
  }
  .post-description {
    padding: 15px;
    p {
      font-size: 14px;
    }
  }
}

button.close {
  width: 50px;
}

.div-profile {
  .editProfile-btn {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.invisible-button {
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  background: none;
}

.nav-item {
  .invisible-button {
    margin-right: 15px;
  }
}

.card {
  .text-muted {
    >.landing-card-footer {
      width: 100%;
      text-align: center !important;
    }
    span {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

.footer {
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: $footer_background_color;
  color: $footer_text_color;
  text-align: center;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 6em;
  width: 6em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

#loadMore {
	padding: 10px;
	text-align: center;
	background-color: $primary-color;
  border-width: 0 1px 1px 0;
  width: 100%;
  margin-top: 10px;
	border-style: solid;
	border-color: $color_1;
	box-shadow: 0 1px 1px #ccc;
	transition: all 600ms ease-in-out;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
	background-color: $color_1;
	color: $primary-color;
}

.btn.btn-success.home {
  min-width: 100%;
}

.notFound-background {
  width: 100%;
  height: 90vh;
  background-color: $background_color_2;
  display: flex;
  justify-content: center;
  .notFound-body {
    margin:auto;
    height: 300px;
    width: 500px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    color: $color_1;
    h1 {
      font-weight: 700;
      font-size: 100px;
    }
  }
}

@media (max-width: 767px) {
  .landing {
    text-align: center;
  }
}

@media ( max-width: 440px) {
  .card-blocks {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    .card {
      display: inline-block;
      width: 300px;
      margin-bottom: 15px;
      margin-right: 10px;
      img {
        width: 300px;
        height: 300px;
      }
    }
    .card-title {
      text-align: left;
      height: 60px;
    }
    .card-text {
      height: 70px;
      text-align: left;
    }
    .card-footer {
      text-align: left;
      padding: 0px;
      font-size: 18px;
      font-weight: 50%;
    }
  }

  .headline {
    background-color: $background_color_2;
    padding-top: 10px;
    border-radius: 3px;
    z-index: 0;
    height: 300px;
    margin-bottom: 10px;
  }

  .recipe-background {
    .recipe-button {
      text-align: center;
      button {
        margin-right: 5px;
        min-width: 100px;
        width: 100px;
        padding-left: 5px;
      }
    }
  }

  button#favorite {
    padding-left: 13px;
  }

  button#upvote {
    padding-left: 16px;
  }
}

@media (min-width: 480px) {
  .recipe-background {
    margin: 30px 15%;
  }
  .profile-background {
    margin: 30px 15%;
    .add-padding {
      margin: 10px 10px;
    }
  }
  .nav-link {
    i {
      margin-right: 5px;
    }
  }

  @media (max-width: 1026px) {
    .headline {
      background-color: $background_color_2;
      padding-top: 30px;
      border-radius: 3px;
      z-index: 0;
      height: 300px;
      margin-bottom: 10px;
    }
  }
  
}
